# Dictionaries

In [10]:
dict1 = {"Name": ['Shubh', 'khanna'], "Phone": [81712,17050]}
dict1

{'Name': ['Shubh', 'khanna'], 'Phone': [81712, 17050]}

In [11]:
import pandas as pd
df = pd.DataFrame(dict1)
df

     Name  Phone
0   Shubh  81712
1  khanna  17050

In [12]:
dict1["college"] = ["DIT", "University"]
dict1

{'Name': ['Shubh', 'khanna'],
 'Phone': [81712, 17050],
 'college': ['DIT', 'University']}