<a href="https://colab.research.google.com/github/shubhkhanna/Colab-Notebooks-IB241/blob/master/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionaries

In [3]:
dict1 = {"Name": ['Shubh', 'khanna'], "Phone": [8171217050,7599116464]}
dict1

{'Name': ['Shubh', 'khanna'], 'Phone': [8171217050, 7599116464]}

In [4]:
import pandas as pd
df = pd.DataFrame(dict1)
df

     Name       Phone
0   Shubh  8171217050
1  khanna  7599116464