<a href="https://colab.research.google.com/github/shubhkhanna/Colab-Notebooks-IB241/blob/master/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionaries

In [2]:
dict1 = {"Name": ['Shubh', 'khanna'], "Phone": [81712,17050]}
dict1

{'Name': ['Shubh', 'khanna'], 'Phone': [81712, 17050]}

In [3]:
import pandas as pd
df = pd.DataFrame(dict1)
df

     Name  Phone
0   Shubh  81712
1  khanna  17050

In [4]:
dict1["college"] = ["DIT", "University"]
dict1

{'Name': ['Shubh', 'khanna'],
 'Phone': [81712, 17050],
 'college': ['DIT', 'University']}

In [5]:
dict1["college"].append("Dehradun")
dict1

{'Name': ['Shubh', 'khanna'],
 'Phone': [81712, 17050],
 'college': ['DIT', 'University', 'Dehradun']}

In [6]:
# Deleted specific key from dictionary.
del dict1["college"]
dict1

{'Name': ['Shubh', 'khanna'], 'Phone': [81712, 17050]}

In [10]:
del dict1["Name"][0]
dict1

{'Name': [], 'Phone': [81712, 17050]}

In [17]:
del dict1["Name"]
dict1

{'Phone': [81712, 17050]}