<a href="https://colab.research.google.com/github/shubhkhanna/Colab-Notebooks-IB241/blob/master/Note-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List function

In [1]:
list1 = [1,2,3,'abc']
list1.pop() #it removes last element from the list.
list1

[1, 2, 3]

In [2]:
list1 = [1,2,3,'abc']
list1.pop(2) #it removes element on index 2.
list1

[1, 2, 'abc']

In [3]:
list1 = [1,2,3,'abc']
list1.remove(1) #it removes element 1 from the list.
list1

[2, 3, 'abc']

In [4]:
list1 = [1,2,3,'abc']
del list1 #it deletes complete list.

In [5]:
tup1 = (1,2,3,'abc')
tup1 = list(tup1) #converting tuple to list
tup1.remove(1) #removing element from the list
tup1 = tuple(tup1) #converting list to tuple
tup1

(2, 3, 'abc')