<a href="https://colab.research.google.com/github/shubhkhanna/Colab-Notebooks-IB241/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv("https://raw.githubusercontent.com/shubhkhanna/Colab-Notebooks-IB241/master/DataSet/Ufo.csv")
df

       Unnamed: 0                  City  ... State              Time
0               0                Ithaca  ...    NY    6/1/1930 22:00
1               1           Willingboro  ...    NJ   6/30/1930 20:00
2               2               Holyoke  ...    CO   2/15/1931 14:00
3               3               Abilene  ...    KS    6/1/1931 13:00
4               4  New York Worlds Fair  ...    NY   4/18/1933 19:00
...           ...                   ...  ...   ...               ...
18236       18236            Grant Park  ...    IL  12/31/2000 23:00
18237       18237           Spirit Lake  ...    IA  12/31/2000 23:00
18238       18238           Eagle River  ...    WI  12/31/2000 23:45
18239       18239           Eagle River  ...    WI  12/31/2000 23:45
18240       18240                  Ybor  ...    FL  12/31/2000 23:59

[18241 rows x 6 columns]

In [21]:
df.loc[0:5,"City"]

0                  Ithaca
1             Willingboro
2                 Holyoke
3                 Abilene
4    New York Worlds Fair
5             Valley City
Name: City, dtype: object

In [22]:
df.iloc[[0,1,2,3],[2,4]]

  Colors Reported State
0             Red    NY
1             Red    NJ
2             Red    CO
3             Red    KS

In [23]:
df.iloc[[1,3,5,7,9],:]

   Unnamed: 0         City  ... State             Time
1           1  Willingboro  ...    NJ  6/30/1930 20:00
3           3      Abilene  ...    KS   6/1/1931 13:00
5           5  Valley City  ...    ND  9/15/1934 15:30
7           7         Alma  ...    MI   7/15/1936 0:00
9           9      Hubbard  ...    OR   6/15/1937 0:00

[5 rows x 6 columns]

In [24]:
df.loc[[0,1,2],["State","Time"]]

  State             Time
0    NY   6/1/1930 22:00
1    NJ  6/30/1930 20:00
2    CO  2/15/1931 14:00

In [25]:
df=df.iloc[:,1:]
df

                       City Colors Reported  ... State              Time
0                    Ithaca             Red  ...    NY    6/1/1930 22:00
1               Willingboro             Red  ...    NJ   6/30/1930 20:00
2                   Holyoke             Red  ...    CO   2/15/1931 14:00
3                   Abilene             Red  ...    KS    6/1/1931 13:00
4      New York Worlds Fair             Red  ...    NY   4/18/1933 19:00
...                     ...             ...  ...   ...               ...
18236            Grant Park             Red  ...    IL  12/31/2000 23:00
18237           Spirit Lake             Red  ...    IA  12/31/2000 23:00
18238           Eagle River             Red  ...    WI  12/31/2000 23:45
18239           Eagle River             RED  ...    WI  12/31/2000 23:45
18240                  Ybor             Red  ...    FL  12/31/2000 23:59

[18241 rows x 5 columns]

In [26]:
df.iloc[:,]

                       City Colors Reported  ... State              Time
0                    Ithaca             Red  ...    NY    6/1/1930 22:00
1               Willingboro             Red  ...    NJ   6/30/1930 20:00
2                   Holyoke             Red  ...    CO   2/15/1931 14:00
3                   Abilene             Red  ...    KS    6/1/1931 13:00
4      New York Worlds Fair             Red  ...    NY   4/18/1933 19:00
...                     ...             ...  ...   ...               ...
18236            Grant Park             Red  ...    IL  12/31/2000 23:00
18237           Spirit Lake             Red  ...    IA  12/31/2000 23:00
18238           Eagle River             Red  ...    WI  12/31/2000 23:45
18239           Eagle River             RED  ...    WI  12/31/2000 23:45
18240                  Ybor             Red  ...    FL  12/31/2000 23:59

[18241 rows x 5 columns]

In [27]:
df.isnull().sum()

City               0
Colors Reported    0
Shape Reported     0
State              0
Time               0
dtype: int64

In [28]:
df["City"].value_counts( ) #checking repeated city

Seattle           187
New York City     161
Phoenix           137
Houston           108
Las Vegas         105
                 ...
Plattsburgh         1
North Lynnwood      1
Bradley             1
St. Maries          1
Upper Freehold      1
Name: City, Length: 6477, dtype: int64

In [29]:
print(df[df["City"] == "Seattle"])
print(df[df["City"] == "San Diego"])
print(df[df["City"] == "Miami"])
print(df[df["City"] == "Springfield"])
print(df[df["City"] == "Albuquerque"])
print(df[df["City"] == "Tucson"])
print(df[df["City"] == "Colorado Springs"])
print(df.loc[df["City"] == "Jacksonville"])

          City Colors Reported Shape Reported State              Time
68     Seattle             Red           OVAL    WA    7/4/1947 17:30
99     Seattle             Red           DISK    WA   4/10/1949 15:00
591    Seattle           GREEN           OVAL    WA     6/1/1960 0:00
640    Seattle             Red           DISK    WA   9/15/1960 20:30
732    Seattle             Red          OTHER    WA    7/1/1962 22:00
...        ...             ...            ...   ...               ...
17773  Seattle             Red       TRIANGLE    WA  10/25/2000 20:30
17788  Seattle             Red           OVAL    WA  10/27/2000 10:30
17865  Seattle             Red          LIGHT    WA    11/3/2000 0:45
18004  Seattle             Red          LIGHT    WA   11/23/2000 1:03
18176  Seattle             Red          LIGHT    WA  12/23/2000 20:00

[187 rows x 5 columns]
            City Colors Reported Shape Reported State              Time
25     San Diego             Red          CIGAR    CA    1/1/1944 12:00
439    San Diego             Red           DISK    CA     8/9/1957 0:30
1403   San Diego             Red         CIRCLE    CA    6/1/1967 12:00
1756   San Diego             Red          LIGHT    CA   11/10/1968 3:00
1788   San Diego             Red           OVAL    CA    5/1/1969 12:00
...          ...             ...            ...   ...               ...
17457  San Diego             Red           OVAL    CA   9/18/2000 18:30
17464  San Diego             Red           OVAL    CA   9/18/2000 23:30
17820  San Diego             Red          OTHER    CA   10/30/2000 4:20
17940  San Diego             Red          LIGHT    CA  11/14/2000 21:00
18122  San Diego             Red          LIGHT    CA   12/15/2000 4:05

[101 rows x 5 columns]
        City Colors Reported Shape Reported State              Time
51     Miami             Red          OTHER    FL   4/15/1947 14:00
191    Miami             Red          LIGHT    FL    6/30/1952 9:00
194    Miami             Red           DISK    FL   6/30/1952 21:00
195    Miami             Red           DISK    FL   6/30/1952 21:00
196    Miami             Red          LIGHT    FL   6/30/1952 21:00
525    Miami             Red         SPHERE    FL     4/1/1959 1:00
730    Miami             Red           OVAL    FL     7/1/1962 0:00
859    Miami             Red          OTHER    FL    4/3/1964 18:00
885    Miami             Red          LIGHT    FL    6/15/1964 6:00
993    Miami             Red           OVAL    FL    6/1/1965 20:00
1334   Miami             Red          LIGHT    FL   11/1/1966 12:00
1374   Miami             Red          OTHER    FL    4/1/1967 23:00
1377   Miami             Red           DISK    FL    4/7/1967 10:00
1752   Miami             Red       FIREBALL    FL  10/30/1968 19:00
1773   Miami             Red         SPHERE    FL   1/15/1969 23:00
1848   Miami             Red          LIGHT    FL    7/7/1969 23:30
1901   Miami             Red        VARIOUS    FL  10/15/1969 19:00
2742   Miami             Red          CIGAR    FL   8/15/1974 20:30
2837   Miami             Red          LIGHT    FL   1/15/1975 19:00
2961   Miami             Red         SPHERE    FL   6/30/1975 20:00
3117   Miami             Red           DISK    FL  11/15/1975 23:00
3119   Miami             Red       TEARDROP    FL   11/16/1975 3:00
3120   Miami             Red           OVAL    FL   11/20/1975 1:00
3170   Miami             Red         SPHERE    FL    5/1/1976 23:00
3480   Miami             Red        DIAMOND    FL     6/1/1977 0:00
3550   Miami             Red       TRIANGLE    FL    7/1/1977 15:00
3804   Miami             Red          LIGHT    FL   6/30/1978 22:00
4375   Miami             Red       TRIANGLE    FL    7/15/1980 6:00
5626   Miami             Red          LIGHT    FL     6/1/1987 6:00
5980   Miami             Red          LIGHT    FL   10/25/1988 5:00
5982   Miami             Red          LIGHT    FL   10/28/1988 3:00
6185   Miami             Red        CHEVRON    FL    9/29/1989 6:15
6365   Miami             Red       FIREBALL    FL    7/1/1990 22:45
6925   Miami             Red          LIGHT    FL  10/15/1992 21:00
8242   Miami             Red          LIGHT    FL   6/14/1995 21:40
8260   Miami             Red          LIGHT    FL   6/15/1995 21:00
8797   Miami             Red          LIGHT    FL  10/17/1995 20:45
9171   Miami      RED YELLOW          LIGHT    FL   3/26/1996 19:30
9316   Miami          ORANGE          LIGHT    Fl    5/17/1996 1:30
9757   Miami             Red          LIGHT    FL  11/24/1996 21:00
10058  Miami             Red          LIGHT    FL   3/15/1997 18:00
10636  Miami             Red      FORMATION    FL   7/23/1997 23:00
10637  Miami             Red      FORMATION    FL   7/23/1997 23:00
11155  Miami             Red          LIGHT    FL   1/27/1998 21:23
12314  Miami          YELLOW          LIGHT    FL    10/7/1998 2:30
12669  Miami             Red          LIGHT    FL   12/1/1998 23:15
12805  Miami             RED         CIRCLE    FL  12/23/1998 22:00
13733  Miami            BLUE          CIGAR    FL    6/18/1999 5:45
14716  Miami           GREEN          LIGHT    FL   10/1/1999 20:00
14810  Miami             Red           OVAL    OK   10/12/1999 9:00
15547  Miami             RED         CIRCLE    FL  12/24/1999 21:00
15934  Miami             Red          LIGHT    FL   2/19/2000 14:18
16004  Miami             Red         SPHERE    FL     3/5/2000 3:40
16159  Miami             Red         CIRCLE    FL   3/28/2000 15:00
16929  Miami             Red          CIGAR    FL    7/15/2000 1:00
17336  Miami             Red           DISK    OK    9/2/2000 22:20
17680  Miami             Red        CHEVRON    FL  10/13/2000 20:00
17924  Miami             Red          OTHER    FL  11/12/2000 22:58
18114  Miami             Red          LIGHT    FL  12/12/2000 18:30
18186  Miami             Red            EGG    FL  12/25/2000 11:30
              City Colors Reported Shape Reported State              Time
269    Springfield             Red       CYLINDER    IL     6/1/1954 8:00
1272   Springfield             Red          OTHER    MA   7/15/1966 12:00
1751   Springfield             Red           DISK    MA  10/25/1968 19:00
2666   Springfield             Red         CIRCLE    MO    6/30/1974 9:30
2723   Springfield             Red          CIGAR    OH    8/1/1974 22:00
2838   Springfield             Red          LIGHT    PA   1/15/1975 21:15
2955   Springfield             Red         CIRCLE    MO    6/30/1975 9:30
3273   Springfield             Red           DISK    LA   6/30/1976 22:00
4155   Springfield             Red      RECTANGLE    MA    8/1/1979 22:00
5702   Springfield             Red       TRIANGLE    OH   8/13/1987 21:00
5713   Springfield             Red          CIGAR    OR    8/17/1987 2:00
6340   Springfield             Red           OVAL    OR    6/15/1990 1:00
6907   Springfield             Red            EGG    MO   10/1/1992 18:00
7357   Springfield             Red         CIRCLE    MO    6/1/1994 14:00
7415   Springfield             Red       TRIANGLE    MA   6/30/1994 23:00
7486   Springfield             Red          LIGHT    IL    8/15/1994 3:45
8403   Springfield             Red          LIGHT    IL   7/22/1995 20:00
8968   Springfield             Red          LIGHT    IL   12/9/1995 18:30
9023   Springfield             Red          LIGHT    MO    1/13/1996 0:00
9487   Springfield             RED         CIRCLE    MA    7/5/1996 18:15
9684   Springfield             Red       TRIANGLE    OH   10/24/1996 9:18
10100  Springfield             Red           DISK    MO   3/27/1997 20:40
10320  Springfield             Red        CHEVRON    MA    6/1/1997 21:00
10448  Springfield             Red           DISK    OH   6/28/1997 18:00
10997  Springfield             Red           OVAL    MO   11/20/1997 1:00
12647  Springfield           GREEN          LIGHT    MO  11/27/1998 20:30
13665  Springfield             Red          LIGHT    MO   6/10/1999 22:40
13797  Springfield             Red          CIGAR    IL   6/29/1999 12:50
13935  Springfield             Red          LIGHT    MA    7/14/1999 1:35
14767  Springfield             Red      FORMATION    MA   10/7/1999 23:02
15025  Springfield             RED       FIREBALL    MO   11/5/1999 21:35
15118  Springfield             Red       CYLINDER    MO  11/16/1999 14:00
15224  Springfield             Red       FIREBALL    OH  11/16/1999 19:04
15242  Springfield             Red      FORMATION    OH  11/16/1999 19:05
15564  Springfield             Red          LIGHT    MO  12/26/1999 19:00
15990  Springfield             Red        CHEVRON    OH    3/1/2000 21:00
15995  Springfield             Red          LIGHT    MO    3/2/2000 19:00
16043  Springfield             Red          LIGHT    IL    3/9/2000 21:30
16227  Springfield             RED           OVAL    IL    4/9/2000 22:30
17073  Springfield             Red           OVAL    MO    8/1/2000 21:25
17615  Springfield             Red       TRIANGLE    MO   10/6/2000 13:45
17792  Springfield             Red          CIGAR    MO   10/28/2000 0:00
18109  Springfield             Red       FIREBALL    MO  12/11/2000 21:15
              City    Colors Reported Shape Reported State              Time
1016   Albuquerque              GREEN           DISK    NM    6/20/1965 2:00
1331   Albuquerque                Red        DIAMOND    NM   10/20/1966 2:00
1488   Albuquerque                Red          CIGAR    NM   8/15/1967 14:00
1523   Albuquerque                Red          LIGHT    NM   9/22/1967 22:30
2053   Albuquerque                Red          OTHER    NM   12/5/1970 20:00
3577   Albuquerque                Red        CHEVRON    NM   7/15/1977 21:00
3587   Albuquerque                Red           OVAL    NM    7/24/1977 7:00
3721   Albuquerque                Red           DISK    NM   4/15/1978 18:00
4054   Albuquerque                Red         CIRCLE    NM    5/15/1979 2:00
4235   Albuquerque                Red         CIRCLE    NM   12/8/1979 20:30
4655   Albuquerque                Red      RECTANGLE    NM   12/1/1981 19:00
5150   Albuquerque                Red           DISK    NM  10/15/1984 19:30
5477   Albuquerque                Red        CHEVRON    NM   7/15/1986 19:30
5841   Albuquerque                Red         SPHERE    NM    6/1/1988 21:30
6104   Albuquerque                Red      FORMATION    NM   6/20/1989 22:45
6920   Albuquerque                Red         SPHERE    NM  10/11/1992 10:00
7225   Albuquerque                Red          CIGAR    NM   11/1/1993 23:45
7227   Albuquerque                Red       TRIANGLE    NM  11/11/1993 22:00
7257   Albuquerque                Red       TRIANGLE    NM    1/3/1994 23:30
7317   Albuquerque             ORANGE         SPHERE    NM    4/24/1994 0:01
7318   Albuquerque                Red         SPHERE    NM    4/25/1994 2:00
7807   Albuquerque                Red          LIGHT    NM   2/16/1995 19:26
7824   Albuquerque                Red          LIGHT    NM   2/20/1995 13:00
8253   Albuquerque               BLUE           DISK    NM   6/15/1995 19:30
8631   Albuquerque                Red       TRIANGLE    NM    9/5/1995 18:00
9722   Albuquerque                Red         SPHERE    NM  11/15/1996 22:30
9905   Albuquerque                Red          FLASH    NM    2/5/1997 22:00
10086  Albuquerque                Red          OTHER    NM   3/23/1997 16:30
11007  Albuquerque               BLUE          OTHER    NM  11/22/1997 17:30
11009  Albuquerque  RED ORANGE YELLOW       FIREBALL    NM   11/23/1997 5:50
11825  Albuquerque                Red       FIREBALL    NM    7/15/1998 1:30
11923  Albuquerque                Red       TRIANGLE    NM    8/1/1998 23:00
11948  Albuquerque                Red       FIREBALL    NM    8/10/1998 6:00
12007  Albuquerque                Red          LIGHT    NM    8/19/1998 0:00
12034  Albuquerque                Red       TRIANGLE    NM   8/24/1998 13:00
12291  Albuquerque                Red          LIGHT    NM    10/4/1998 2:45
12491  Albuquerque                Red           OVAL    NM   11/4/1998 15:30
12759  Albuquerque                Red          CROSS    NM  12/15/1998 22:00
13006  Albuquerque                Red         SPHERE    NM   2/12/1999 17:10
13195  Albuquerque                Red         SPHERE    NM   3/16/1999 11:40
13370  Albuquerque                RED       FIREBALL    NM   4/22/1999 22:50
13371  Albuquerque                Red       TRIANGLE    NM   4/22/1999 23:40
13835  Albuquerque                Red          LIGHT    NM     7/3/1999 1:30
14234  Albuquerque                Red          LIGHT    NM   8/15/1999 23:18
14326  Albuquerque                Red          LIGHT    NM   8/28/1999 18:00
16117  Albuquerque                Red           OVAL    NM    3/19/2000 9:05
16260  Albuquerque                Red      RECTANGLE    NM   4/16/2000 10:25
16514  Albuquerque                Red          LIGHT    NM    6/1/2000 15:00
16528  Albuquerque                Red         SPHERE    NM    6/3/2000 14:30
16712  Albuquerque                Red          LIGHT    NM    6/28/2000 2:00
17139  Albuquerque                Red         CIRCLE    NM    8/9/2000 12:48
17317  Albuquerque                Red        DIAMOND    NM    9/1/2000 17:00
17520  Albuquerque                Red          LIGHT    NM   9/25/2000 19:30
17579  Albuquerque                Red       TRIANGLE    NM   10/1/2000 20:45
         City Colors Reported Shape Reported State              Time
586    Tucson             Red          LIGHT    AZ    5/1/1960 20:00
776    Tucson             Red       TRIANGLE    AZ     4/1/1963 7:00
822    Tucson             Red          OTHER    AZ    7/2/1963 19:30
892    Tucson             Red       TRIANGLE    AZ   6/19/1964 20:00
1553   Tucson             Red           DISK    AZ    1/8/1968 19:00
2129   Tucson             Red       TEARDROP    AZ    7/22/1971 0:15
2289   Tucson             Red       CYLINDER    AZ    8/2/1972 23:00
2333   Tucson             Red       TRIANGLE    AZ   11/8/1972 20:00
2625   Tucson             Red       CYLINDER    AZ    6/1/1974 13:00
4327   Tucson             Red        DIAMOND    AZ    6/8/1980 16:00
5458   Tucson             Red       FIREBALL    AZ   6/20/1986 17:30
5481   Tucson             Red          LIGHT    AZ    7/20/1986 1:00
5523   Tucson            BLUE          LIGHT    AZ   9/20/1986 23:50
5694   Tucson             Red          FLASH    AZ   7/28/1987 15:00
5874   Tucson             Red       TRIANGLE    AZ    7/1/1988 13:00
5876   Tucson             Red       TRIANGLE    AZ    7/1/1988 21:30
6054   Tucson             Red          OTHER    AZ   5/10/1989 11:00
6206   Tucson             Red         SPHERE    AZ   10/16/1989 8:00
7030   Tucson             Red         CIRCLE    AZ   5/22/1993 21:00
7665   Tucson             Red       TRIANGLE    AZ    1/1/1995 21:00
8484   Tucson             Red          LIGHT    AZ    8/8/1995 23:00
9507   Tucson             Red          OTHER    AZ   7/15/1996 23:00
9849   Tucson             Red           DISK    AZ  12/31/1996 18:30
10045  Tucson             Red          LIGHT    AZ   3/13/1997 22:00
10074  Tucson          ORANGE       TRIANGLE    AZ   3/17/1997 21:00
10600  Tucson             Red       TRIANGLE    AZ   7/15/1997 21:00
10723  Tucson             Red          LIGHT    AZ   8/20/1997 19:30
10745  Tucson             Red        CHEVRON    AZ   8/29/1997 22:00
10976  Tucson             RED          OTHER    AZ   11/15/1997 0:35
11137  Tucson             Red          OTHER    AZ    1/19/1998 6:50
11144  Tucson             Red          LIGHT    AZ   1/24/1998 15:30
11281  Tucson             Red       TRIANGLE    AZ    3/9/1998 22:25
11572  Tucson             Red           CONE    AZ   5/31/1998 10:30
11688  Tucson             Red          LIGHT    AZ   6/19/1998 16:00
11881  Tucson             Red       FIREBALL    AZ   7/24/1998 22:55
11889  Tucson           GREEN          LIGHT    AZ   7/25/1998 22:00
12052  Tucson             Red          LIGHT    AZ   8/31/1998 22:00
12266  Tucson             Red          LIGHT    AZ    9/30/1998 1:00
12348  Tucson             Red           OVAL    AZ  10/14/1998 22:00
12992  Tucson             Red          LIGHT    AZ   2/10/1999 18:45
13587  Tucson             Red          OTHER    AZ    6/1/1999 12:00
13908  Tucson             Red            EGG    AZ   7/10/1999 17:10
14075  Tucson             Red         SPHERE    AZ    8/1/1999 13:00
14748  Tucson             Red          LIGHT    AZ   10/4/1999 19:25
14756  Tucson             Red       TRIANGLE    AZ   10/5/1999 21:15
14960  Tucson             Red       FIREBALL    AZ  10/27/1999 23:00
15315  Tucson             Red       TRIANGLE    AZ  11/17/1999 23:30
15790  Tucson             Red       CYLINDER    AZ   1/27/2000 22:00
15858  Tucson             Red          LIGHT    AZ    2/8/2000 21:00
15864  Tucson             Red          OTHER    AZ    2/9/2000 19:30
15875  Tucson             Red          LIGHT    AZ   2/11/2000 19:20
15985  Tucson             Red          OTHER    AZ    3/1/2000 14:00
16118  Tucson             Red          LIGHT    AZ   3/19/2000 21:00
16587  Tucson             Red          OTHER    AZ   6/11/2000 17:30
17529  Tucson           GREEN       FIREBALL    AZ   9/26/2000 20:30
17717  Tucson        RED BLUE        DIAMOND    AZ  10/17/2000 21:00
17982  Tucson             Red          LIGHT    AZ  11/19/2000 18:00
18187  Tucson             Red          CIGAR    AZ  12/25/2000 12:20
                   City Colors Reported Shape Reported State              Time
240    Colorado Springs             Red           DISK    CO     7/1/1953 5:30
800    Colorado Springs             Red           DISK    CO    6/1/1963 23:00
1459   Colorado Springs             Red       TRIANGLE    CO    7/1/1967 22:30
1727   Colorado Springs             Red         SPHERE    CO   9/10/1968 19:00
1930   Colorado Springs             Red          LIGHT    CO    2/15/1970 0:00
2057   Colorado Springs             Red      RECTANGLE    CO   12/24/1970 0:00
2338   Colorado Springs             Red           DISK    CO   12/24/1972 2:00
2623   Colorado Springs             Red         CIRCLE    CO    6/1/1974 12:00
4490   Colorado Springs             Red       TRIANGLE    CO   1/15/1981 10:00
5448   Colorado Springs             Red         SPHERE    CO   6/14/1986 18:30
6331   Colorado Springs             Red          OTHER    CO    6/1/1990 23:00
6383   Colorado Springs             Red          FLASH    CO    7/15/1990 3:00
6697   Colorado Springs            BLUE       TRIANGLE    CO   11/15/1991 1:00
6700   Colorado Springs        RED BLUE       TRIANGLE    CO   11/18/1991 1:00
7048   Colorado Springs             Red          CIGAR    CO    6/1/1993 17:30
8166   Colorado Springs             RED          LIGHT    CO     6/1/1995 1:00
8167   Colorado Springs             RED          LIGHT    CO     6/1/1995 1:00
8628   Colorado Springs             Red          LIGHT    CO    9/4/1995 22:30
8683   Colorado Springs             Red          LIGHT    CO    9/17/1995 0:30
8803   Colorado Springs          YELLOW          OTHER    CO   10/19/1995 1:00
10052  Colorado Springs             Red       TRIANGLE    CO   3/14/1997 22:30
10131  Colorado Springs             Red       CYLINDER    CO     4/7/1997 5:30
10376  Colorado Springs             Red           DISK    CA   6/15/1997 13:00
10770  Colorado Springs             Red      RECTANGLE    CO   9/15/1997 15:00
11119  Colorado Springs             Red       FIREBALL    CO    1/11/1998 0:10
11228  Colorado Springs            BLUE       FIREBALL    CO   2/26/1998 20:30
11291  Colorado Springs             Red          OTHER    CO   3/11/1998 22:03
11392  Colorado Springs          YELLOW          OTHER    CO    4/9/1998 21:15
11393  Colorado Springs             Red          OTHER    CO    4/9/1998 21:34
11474  Colorado Springs             Red          FLASH    CO   4/28/1998 22:42
11533  Colorado Springs             Red          LIGHT    CO   5/17/1998 22:25

In [40]:
df[(df["City"] == "Seattle") & (df["Shape Reported"] == "OTHER") ]

          City Colors Reported Shape Reported State             Time
732    Seattle             Red          OTHER    WA   7/1/1962 22:00
5464   Seattle             Red          OTHER    WA  6/30/1986 14:00
6714   Seattle             Red          OTHER    WA    1/1/1992 0:00
9353   Seattle             Red          OTHER    WA    6/1/1996 7:00
9385   Seattle             Red          OTHER    WA  6/11/1996 15:00
10121  Seattle             Red          OTHER    WA   4/3/1997 17:30
10419  Seattle             Red          OTHER    WA   6/20/1997 4:30
10788  Seattle             Red          OTHER    WA  9/19/1997 21:00
12121  Seattle          ORANGE          OTHER    WA  9/15/1998 18:00
15300  Seattle             Red          OTHER    WA  11/17/1999 0:00
15819  Seattle             Red          OTHER    WA   2/2/2000 19:49
15820  Seattle             Red          OTHER    WA   2/2/2000 19:49
16339  Seattle             Red          OTHER    WA  4/28/2000 22:10
16618  Seattle     ORANGE BLUE          OTHER    WA  6/15/2000 23:11
17334  Seattle             Red          OTHER    WA   9/2/2000 21:00

In [46]:
df.loc[(df["City"] == "Los Angeles") & (df["Shape Reported"] == "LIGHT"), ["City", "Time", "Shape Reported"] ]

              City              Time Shape Reported
16     Los Angeles    2/25/1942 0:00          LIGHT
2236   Los Angeles   6/20/1972 20:00          LIGHT
3714   Los Angeles     4/4/1978 2:00          LIGHT
4088   Los Angeles    6/15/1979 4:30          LIGHT
4278   Los Angeles     5/5/1980 4:00          LIGHT
6336   Los Angeles   6/10/1990 20:00          LIGHT
7651   Los Angeles   12/30/1994 2:05          LIGHT
8602   Los Angeles    8/27/1995 4:00          LIGHT
9745   Los Angeles   11/20/1996 0:00          LIGHT
9768   Los Angeles  11/29/1996 19:05          LIGHT
10176  Los Angeles   4/21/1997 21:20          LIGHT
10917  Los Angeles   11/1/1997 22:00          LIGHT
11752  Los Angeles   6/30/1998 23:00          LIGHT
12928  Los Angeles   1/18/1999 18:20          LIGHT
13677  Los Angeles   6/12/1999 22:00          LIGHT
14792  Los Angeles   10/11/1999 4:30          LIGHT
15085  Los Angeles   11/13/1999 2:30          LIGHT
15608  Los Angeles     1/1/2000 0:03          LIGHT
15749  Los Angeles   1/18/2000 18:39          LIGHT
16593  Los Angeles   6/13/2000 20:00          LIGHT
16605  Los Angeles    6/15/2000 3:00          LIGHT
16693  Los Angeles    6/26/2000 0:22          LIGHT
16831  Los Angeles    7/7/2000 21:00          LIGHT
16834  Los Angeles    7/7/2000 21:15          LIGHT
17178  Los Angeles   8/12/2000 23:48          LIGHT
17591  Los Angeles    10/3/2000 4:30          LIGHT

In [48]:
a = pd.DataFrame(df.head().values,columns=[1,2,3,4,5])
a

                      1    2         3   4                5
0                Ithaca  Red  TRIANGLE  NY   6/1/1930 22:00
1           Willingboro  Red     OTHER  NJ  6/30/1930 20:00
2               Holyoke  Red      OVAL  CO  2/15/1931 14:00
3               Abilene  Red      DISK  KS   6/1/1931 13:00
4  New York Worlds Fair  Red     LIGHT  NY  4/18/1933 19:00