<a href="https://colab.research.google.com/github/shubhkhanna/Colab-Notebooks-IB241/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# Creating a series

In [2]:
list1 = [1,2,3,4]
arr = np.array([2,4,5])
dict1 = {'a':10,'b':20}
labels = [list1,arr,dict1]

pd.Series(data=labels)

0          [1, 2, 3, 4]
1             [2, 4, 5]
2    {'a': 10, 'b': 20}
dtype: object

In [3]:
pd.Series(data=dict1)

a    10
b    20
dtype: int64

In [5]:
pd.Series(arr)

0    2
1    4
2    5
dtype: int64

# Using an Index

In [9]:
ser1 = pd.Series([1,2,3,4], index = ['India','USA','UK','Japan'])
ser1

India    1
USA      2
UK       3
Japan    4
dtype: int64

In [11]:
ser1.rename(index={'USA':'Italy'}, inplace=True)
ser1

India    1
Italy    2
UK       3
Japan    4
dtype: int64