<a href="https://colab.research.google.com/github/shubhkhanna/Colab-Notebooks-IB241/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/shubhkhanna/Colab-Notebooks-IB241/master/DataSet/Ufo.csv")
df

       Unnamed: 0                  City  ... State              Time
0               0                Ithaca  ...    NY    6/1/1930 22:00
1               1           Willingboro  ...    NJ   6/30/1930 20:00
2               2               Holyoke  ...    CO   2/15/1931 14:00
3               3               Abilene  ...    KS    6/1/1931 13:00
4               4  New York Worlds Fair  ...    NY   4/18/1933 19:00
...           ...                   ...  ...   ...               ...
18236       18236            Grant Park  ...    IL  12/31/2000 23:00
18237       18237           Spirit Lake  ...    IA  12/31/2000 23:00
18238       18238           Eagle River  ...    WI  12/31/2000 23:45
18239       18239           Eagle River  ...    WI  12/31/2000 23:45
18240       18240                  Ybor  ...    FL  12/31/2000 23:59

[18241 rows x 6 columns]

In [3]:
df.loc[0:5,"City"]

0                  Ithaca
1             Willingboro
2                 Holyoke
3                 Abilene
4    New York Worlds Fair
5             Valley City
Name: City, dtype: object

In [4]:
df.iloc[[0,1,2,3],[2,4]]

  Colors Reported State
0             Red    NY
1             Red    NJ
2             Red    CO
3             Red    KS

In [5]:
df.iloc[[1,3,5,7,9],:]

   Unnamed: 0         City  ... State             Time
1           1  Willingboro  ...    NJ  6/30/1930 20:00
3           3      Abilene  ...    KS   6/1/1931 13:00
5           5  Valley City  ...    ND  9/15/1934 15:30
7           7         Alma  ...    MI   7/15/1936 0:00
9           9      Hubbard  ...    OR   6/15/1937 0:00

[5 rows x 6 columns]

In [6]:
df.loc[[0,1,2],["State","Time"]]

  State             Time
0    NY   6/1/1930 22:00
1    NJ  6/30/1930 20:00
2    CO  2/15/1931 14:00

In [7]:
df=df.iloc[:,1:]
df

                       City Colors Reported  ... State              Time
0                    Ithaca             Red  ...    NY    6/1/1930 22:00
1               Willingboro             Red  ...    NJ   6/30/1930 20:00
2                   Holyoke             Red  ...    CO   2/15/1931 14:00
3                   Abilene             Red  ...    KS    6/1/1931 13:00
4      New York Worlds Fair             Red  ...    NY   4/18/1933 19:00
...                     ...             ...  ...   ...               ...
18236            Grant Park             Red  ...    IL  12/31/2000 23:00
18237           Spirit Lake             Red  ...    IA  12/31/2000 23:00
18238           Eagle River             Red  ...    WI  12/31/2000 23:45
18239           Eagle River             RED  ...    WI  12/31/2000 23:45
18240                  Ybor             Red  ...    FL  12/31/2000 23:59

[18241 rows x 5 columns]

In [9]:
df.iloc[:,]

                       City Colors Reported  ... State              Time
0                    Ithaca             Red  ...    NY    6/1/1930 22:00
1               Willingboro             Red  ...    NJ   6/30/1930 20:00
2                   Holyoke             Red  ...    CO   2/15/1931 14:00
3                   Abilene             Red  ...    KS    6/1/1931 13:00
4      New York Worlds Fair             Red  ...    NY   4/18/1933 19:00
...                     ...             ...  ...   ...               ...
18236            Grant Park             Red  ...    IL  12/31/2000 23:00
18237           Spirit Lake             Red  ...    IA  12/31/2000 23:00
18238           Eagle River             Red  ...    WI  12/31/2000 23:45
18239           Eagle River             RED  ...    WI  12/31/2000 23:45
18240                  Ybor             Red  ...    FL  12/31/2000 23:59

[18241 rows x 5 columns]

In [11]:
df.isnull().sum()

City               0
Colors Reported    0
Shape Reported     0
State              0
Time               0
dtype: int64

In [14]:
df["City"].value_counts( ) #checking repeated city

Seattle           187
New York City     161
Phoenix           137
Houston           108
Las Vegas         105
                 ...
Plattsburgh         1
North Lynnwood      1
Bradley             1
St. Maries          1
Upper Freehold      1
Name: City, Length: 6477, dtype: int64

In [17]:
df[df["City"] == "Seattle"]
df[df["City"] == "San Diego"]
df[df["City"] == "Miami"]
df[df["City"] == "Springfield"]
df[df["City"] == "Albuquerque"]
df[df["City"] == "Tucson"]
df[df["City"] == "Colorado Springs"]
df.loc[df["City"] == "Jacksonville"]

               City   Colors Reported Shape Reported State              Time
168    Jacksonville               Red           DISK    FL  10/15/1951 20:00
184    Jacksonville               Red       TRIANGLE    FL   6/15/1952 21:00
569    Jacksonville               Red          LIGHT    IL   10/1/1959 19:00
1127   Jacksonville               Red          LIGHT    FL   11/5/1965 21:00
1342   Jacksonville               Red        CHEVRON    FL   11/12/1966 0:00
1554   Jacksonville               Red          LIGHT    FL   1/10/1968 23:00
2696   Jacksonville               Red       TRIANGLE    FL   7/15/1974 21:00
2868   Jacksonville               Red         SPHERE    NC     5/5/1975 2:00
3128   Jacksonville               Red       TRIANGLE    FL   12/7/1975 11:45
3209   Jacksonville               Red           DISK    FL    6/1/1976 20:30
3458   Jacksonville               Red       TRIANGLE    AR     5/1/1977 0:00
4042   Jacksonville               Red          OTHER    TX    4/15/1979 3:00
4602   Jacksonville               Red         SPHERE    FL   8/15/1981 19:00
4909   Jacksonville               Red       TRIANGLE    FL   6/15/1983 21:30
5881   Jacksonville               Red       TRIANGLE    FL    7/4/1988 21:00
6190   Jacksonville               Red         CIRCLE    IL   10/1/1989 20:00
6796   Jacksonville               Red      FORMATION    FL    6/15/1992 1:00
7163   Jacksonville              BLUE         SPHERE    FL   8/12/1993 21:00
7740   Jacksonville               Red          LIGHT    FL   1/30/1995 20:00
7935   Jacksonville               Red          LIGHT    FL   3/19/1995 20:00
7971   Jacksonville               Red          LIGHT    FL   3/29/1995 20:35
8764   Jacksonville               Red       TRIANGLE    FL   10/7/1995 22:30
9191   Jacksonville               Red          LIGHT    FL    4/2/1996 20:15
9311   Jacksonville               Red          LIGHT    FL    5/15/1996 6:15
9497   Jacksonville              BLUE          LIGHT    IL    7/15/1996 1:30
9731   Jacksonville              BLUE          LIGHT    FL  11/16/1996 23:10
10875  Jacksonville               Red         SPHERE    FL   10/16/1997 1:30
11692  Jacksonville               Red         CIRCLE    FL    6/20/1998 3:30
11848  Jacksonville               Red          LIGHT    FL    7/17/1998 2:00
11849  Jacksonville               Red          OTHER    FL    7/17/1998 2:02
11850  Jacksonville            YELLOW        DIAMOND    FL    7/17/1998 2:10
12385  Jacksonville               Red          LIGHT    IL   10/18/1998 9:30
12846  Jacksonville          RED BLUE          OTHER    FL    1/2/1999 20:30
13031  Jacksonville               RED          LIGHT    FL    2/18/1999 2:00
13168  Jacksonville               Red       TRIANGLE    FL   3/11/1999 19:01
13646  Jacksonville               Red          OTHER    FL     6/8/1999 0:30
13977  Jacksonville               RED          FLASH    FL    7/18/1999 2:00
14027  Jacksonville               Red          LIGHT    FL    7/25/1999 3:55
14113  Jacksonville               Red        VARIOUS    FL    8/5/1999 17:30
14870  Jacksonville               Red        CHEVRON    FL  10/17/1999 15:00
14871  Jacksonville               Red        CHEVRON    FL  10/17/1999 15:00
15531  Jacksonville               Red           DISK    FL   12/22/1999 2:00
15623  Jacksonville               Red      RECTANGLE    FL     1/2/2000 0:00
15706  Jacksonville               Red          LIGHT    FL    1/13/2000 3:00
15930  Jacksonville               Red       TRIANGLE    FL   2/18/2000 22:00
16078  Jacksonville               Red          LIGHT    FL    3/13/2000 0:30
16570  Jacksonville  RED YELLOW GREEN          LIGHT    FL    6/10/2000 4:00
17147  Jacksonville               Red          LIGHT    FL   8/10/2000 21:30